<div id="container">
	
	<div id="logo">
		<img src="/images/monica_logo_transparent.png" alt="Monica Ceniceros - Artist" width="600" height="431"/>
	</div>
						
	<div id="thumbnail_container">
		<ul id="thumbnails">
			<li><a rel="shadowbox[Portfolio];options={counterType:'default',continuous:true,animSequence:'sync'}" href="/images/gallery/Monica_Ceniceros_LLuvia_small.jpg" id="lluvia" class="shadowbox" title='Lluvia - 20" X 70.5"'><img src="/images/gallery/Monica_Ceniceros_LLuvia_small_thumb.jpg"/></a></li>	
			<li><a rel="shadowbox[Portfolio];options={counterType:'default',continuous:true,animSequence:'sync'}" href="/images/gallery/Monica_Ceniceros_Dancer_small.jpg" class="shadowbox" title='Danzante'><img src="/images/gallery/Monica_Ceniceros_Dancer_small_thumb.jpg"/></a></li>
			<li><a rel="shadowbox[Portfolio];options={counterType:'default',continuous:true,animSequence:'sync'}" href="/images/gallery/Monica_Ceniceros_Libre_small.jpg" class="shadowbox" title='Libre - 52" x 27.5"'><img src="/images/gallery/Monica_Ceniceros_Libre_small_thumb.jpg"/></a></li>
			<li><a rel="shadowbox[Portfolio];options={counterType:'default',continuous:true,animSequence:'sync'}" href="/images/gallery/Monica_Ceniceros_Tango_small.jpg" class="shadowbox" title='Tango - 27" x 27"'><img src="/images/gallery/Monica_Ceniceros_Tango_small_thumb.jpg"/></a></li>
			<li><a rel="shadowbox[Portfolio];options={counterType:'default',continuous:true,animSequence:'sync'}" href="/images/gallery/Monica_Ceniceros_Fresa_small.jpg" class="shadowbox" title='Fresa - 10" x 10"'><img src="/images/gallery/Monica_Ceniceros_Fresa_small_thumb.jpg"/></a></li>
			<li><a rel="shadowbox[Portfolio];options={counterType:'default',continuous:true,animSequence:'sync'}" href="/images/gallery/Monica_Ceniceros_Azul_small.jpg" class="shadowbox" title='Azul - 10" x 10"'><img src="/images/gallery/Monica_Ceniceros_Azul_small_thumb.jpg"/></a></li>
			<li><a rel="shadowbox[Portfolio];options={counterType:'default',continuous:true,animSequence:'sync'}" href="/images/gallery/Monica_Ceniceros_Amarillo_small.jpg" class="shadowbox" title='Amarillo - 10" x 10"'><img src="/images/gallery/Monica_Ceniceros_Amarillo_small_thumb.jpg"/></a></li>
			<li><a rel="shadowbox[Portfolio];options={counterType:'default',continuous:true,animSequence:'sync'}" href="/images/gallery/Monica_Ceniceros_Bella_small.jpg" class="shadowbox" title='Bella - 9.5" x 23.5"'><img src="/images/gallery/Monica_Ceniceros_Bella_small_thumb.jpg"/></a></li>
			<li><a rel="shadowbox[Portfolio];options={counterType:'default',continuous:true,animSequence:'sync'}" href="/images/gallery/Monica_Ceniceros_Cielo_small.jpg" class="shadowbox" title='Cielo - 10" x 10"'><img src="/images/gallery/Monica_Ceniceros_Cielo_small_thumb.jpg"/></a></li>
			<li><a rel="shadowbox[Portfolio];options={counterType:'default',continuous:true,animSequence:'sync'}" href="/images/gallery/Monica_Ceniceros_Rojos_small.jpg" class="shadowbox" title='Rojos - 10" x 10"'><img src="/images/gallery/Monica_Ceniceros_Rojos_small_thumb.jpg"/></a></li>
			<li><a rel="shadowbox[Portfolio];options={counterType:'default',continuous:true,animSequence:'sync'}" href="/images/gallery/Monica_Ceniceros_Atardecer_small.jpg" class="shadowbox" title='Atardecer - 10" x 10"'><img src="/images/gallery/Monica_Ceniceros_Atardecer_small_thumb.jpg"/></a></li>
			<li><a rel="shadowbox[Portfolio];options={counterType:'default',continuous:true,animSequence:'sync'}" href="/images/gallery/Monica_Ceniceros_Nueva_Vida_small.jpg" class="shadowbox" title='Nueva Vida - 51" x 46"'><img src="/images/gallery/Monica_Ceniceros_Nueva_Vida_small_thumb.jpg"/></a></li>
			<li><a rel="shadowbox[Portfolio];options={counterType:'default',continuous:true,animSequence:'sync'}" href="/images/gallery/Monica_Ceniceros_Jardin_De_Madera_small.jpg" class="shadowbox" title='Jardin de Madera - 51.5" x 54"'><img src="/images/gallery/Monica_Ceniceros_Jardin_De_Madera_small_thumb.jpg"/></a></li>
			<li><a rel="shadowbox[Portfolio];options={counterType:'default',continuous:true,animSequence:'sync'}" href="/images/gallery/Monica_Ceniceros_Mi_Mona_small.jpg" class="shadowbox" title='Mi Mona - 10" x 10"'><img src="/images/gallery/Monica_Ceniceros_Mi_Mona_small_thumb.jpg"/></a></li>	
		</ul>
	</div>	
	
	<div id="navcontainer">
		<ul id="navlist">
			<li class="first">
				<a href="#" class="portfolio">PORTFOLIO</a>
			</li>
			<li><a rel="shadowbox;width=600;height=550" class="option" title="Bio" href="index.html#bio-inline">BIO</a></li>
			<li><a rel="shadowbox;width=400;height=265" class="option" title="Contact Info" href="index.html#contact-inline">CONTACT</a>
			</li>
		</ul>
	</div>
</div>

<!-- Contact Info -->
<div id="contact-inline" class="hidden">
	<div class="inline-content align-center">
		Monica Ceniceros<br/>
		<a href="mailto:monica@monicaceniceros.com">monica@monicaceniceros.com</a><br/>
		M: (512) 296-3891<br/>
		<br/>
		Studio:<br/>
		<span class="italicized"><a href="http://pumpproject.org">Pump Project</a></span><br/>
		702 Shady Lane<br/>
		Austin, Texas 78702<br/>
	</div>
</div>

<!-- Bio -->
<div id="bio-inline" class="hidden">
	<div class="inline-content align-left">
		Taking a cue from her creatively talented family, Monica Ceniceros developed a love and appreciation for art at a very young age. Born and raised in Monterrey, Mexico, she quickly absorbed the richness of a colorful, unique, and lively culture that is expressed in her art today.<br/>
		<br/>
		Soon after moving to the United States, she started experimenting with new mediums and quickly developed a unique style of her own. Today, art for Monica is not only a hobby and a getaway, but also a passion and opportunity to express life through her eyes. Her work reflects the contrast between the simplicity and complexity of natural beauty. Monica’s art lets you experience pleasing figures created with rich color combinations along grains of wood. Each piece is an absolute one-of-a-kind, representing her greatest inspirations: life, nature, culture, and individuality.<br/>
		<br/>
		Monica now resides in Austin, Texas near the biggest influence in her life and art – her family.
	</div>
</div>